<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static" style="text-transform : uppercase">{{ "HOME.BHIMA" | translate }}</li>
      <li class="title">{{ "TREE.TIME_CONFIGURATION" | translate }}</li>
    </ol>
  </div>
</div>

<div class="flex-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6">
        <form name="TimeForm" bh-submit="TimeCtrl.submit(TimeForm)" bh-form-defaults>
          <div class="panel panel-default">
            <div class="panel-heading">
              {{ "TREE.TIME_CONFIGURATION" | translate }}
            </div>

            <div class="panel-body">
              <label>{{ "TIME_CONFIG.CURRENT_TIME" | translate }}</label>
              <h3>{{TimeCtrl.formatTime}}</h3>

              <div class="form-group">
                <label>{{ "TIME_CONFIG.SET_DATE" | translate }}</label>
                <div class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="TimeCtrl.userDate" is-open="TimeCtrl.showCalendar" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="TimeCtrl.toggleCalendar()"><i class="fa fa-calendar-plus-o"></i></button>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label>{{ "TIME_CONFIG.SET_TIME" | translate }}</label>
                <div uib-timepicker ng-model="TimeCtrl.userTime" show-meridian="false"></div>
              </div>
            </div>

            <div class="panel-footer text-right">
              <bh-loading-button loading-state="TimeForm.$loading">
                {{ "FORM.BUTTONS.SUBMIT" | translate }}
              </bh-loading-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
