<div class="flex-header">
  <div class="bhima-title">
    <ol class="headercrumb">
      <li class="static" style="text-transform : uppercase">{{ "HOME.BHIMA" | translate }}</li>
      <li class="title">{{ "TREE.TIME_CONFIGURATION" | translate }}</li>
    </ol>
  </div>
</div>



<div class="flex-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{ "TREE.TIME_CONFIGURATION" | translate }}
          </div>
          <div class="panel-body">
            <label>{{ "TIME_CONFIG.CURRENT_TIME" | translate }}</label>
            <h3>{{TimeCtrl.formatTime}}</h3>
            <br>
            <label>{{ "TIME_CONFIG.SET_TIME" | translate}}</label>

            <div class="form-group">
              <!-- Set Date -->
              <!-- Set Time -->
              <!-- Submit -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
